$sidebarFixedWidth: 2vw;
$sidebarActiceWidth: 15vw;
$sidebarFilterPanelWidth: 15vw;
$mainWidth: 98vw - $sidebarActiceWidth;


$navbarHeight: 5vh;
$sidebarHeight: 100vh - $navbarHeight;
$maintopHeight: 3vh;
$mainbottomHeight: 100vh - $navbarHeight -$maintopHeight;