$sidebarFixedWidth: 2vw;
$sidebarActiceWidth: 15vw;
$mainWidth: 98vw - $sidebarActiceWidth;

$navbarHeight: 5vw;
$sidebarHeight: 100vw - $navbarHeight;
$maintopHeight: 3vw;
$mainbottomHeight: 100vw - $navbarHeight -$maintopHeight;