$themes: (
    light: ( //字体
        font_color1: #414141,
        font_color2: white,

        //背景
        background_color1: rgb(194, 181, 181),
        background_color2: #f0f2f5,
        background_color3: red,
        background_color4: #2674e7,

        //边框
        border_color1: #3d414a,

    ),

    dark: ( //字体
        font_color1: #a7a7a7,
        font_color2: white,

        //背景
        background_color1: #1b2531,
        background_color2: #283142,
        background_color3: #1e6ceb,
        background_color4: #323e4e,

        //边框
        border_color1: #3d414a,

    )
);