@font-face {
  /* 重命名字体名 */
  font-family: 'chinafont';
  /* 引入字体 */
  src: url('@/assets/fonts/LXGWWenKai-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: chinafont;
}

body{
  overflow:hidden;
}