@import '@/styles/variables.scss';

// 添加全局样式


@font-face {
  /* 重命名字体名 */
  font-family: 'chinafont';
  /* 引入字体 */
  src: url('@/assets/fonts/LXGWWenKai-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  // font-family: chinafont;
}

body{
  overflow:hidden;
}

.icon{
  float:right;
  margin-left: 3px;
  margin-right: 3px;
  &:hover{
    background-color: $iconSelected;
    border-radius: 3px;
    cursor: pointer;
  }
}