@import '@/styles/variables.scss';

.nav-bar .item::before,
.nav-bar .item::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.nav-bar .item::before {
  margin-right: 8px;
  margin-bottom: 2px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.nav-bar .item::after {
  margin-left: 10px;
  margin-bottom: 2px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.nav-bar .item:hover::before,
.nav-bar .item:hover::after,
.nav-bar .item:focus::before,
.nav-bar .item:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


// 下拉显示
// .nav-bar .item {
// 	margin: 0 20px;
// 	padding: 18px 20px;
// }

// .nav-bar .item::before,
// .nav-bar .item::after {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 1px;
// 	background: #fff;
// 	content: '';
// 	opacity: 0.2;
// 	-webkit-transition: opacity 0.3s, height 0.3s;
// 	-moz-transition: opacity 0.3s, height 0.3s;
// 	transition: opacity 0.3s, height 0.3s;
// }

// .nav-bar .item::after {
// 	top: 100%;
// 	opacity: 0;
// 	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
// 	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
// 	transition: transform 0.3s, opacity 0.3s;
// 	-webkit-transform: translateY(-10px);
// 	-moz-transform: translateY(-10px);
// 	transform: translateY(-10px);
// }

// .nav-bar .item span:first-child {
// 	z-index: 2;
// 	display: block;
// 	font-weight: 300;
// }

// .nav-bar .item span:last-child {
// 	z-index: 1;
// 	display: block;
// 	padding: 8px 0 0 0;
// 	color: rgba(0,0,0,0.4);
// 	text-shadow: none;
// 	text-transform: none;
// 	font-style: italic;
// 	font-size: 0.75em;
// 	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
// 	opacity: 0;
// 	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
// 	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
// 	transition: transform 0.3s, opacity 0.3s;
// 	-webkit-transform: translateY(-100%);
// 	-moz-transform: translateY(-100%);
// 	transform: translateY(-100%);
// }

// .nav-bar .item:hover::before,
// .nav-bar .item:focus::before {
// 	height: 6px;
// }

// .nav-bar .item:hover::before,
// .nav-bar .item:hover::after,
// .nav-bar .item:focus::before,
// .nav-bar .item:focus::after {
// 	opacity: 1;
// 	-webkit-transform: translateY(0px);
// 	-moz-transform: translateY(0px);
// 	transform: translateY(0px);
// }

// .nav-bar .item:hover span:last-child,
// .nav-bar .item:focus span:last-child {
// 	opacity: 1;
// 	-webkit-transform: translateY(0%);
// 	-moz-transform: translateY(0%);
// 	transform: translateY(0%);
// }