// 导航栏高度
$navbarHeight: 59px;

// 侧边栏高度
$sidebarHeight: calc(100vh - $navbarHeight);
$sidebarOpContainerHeight: 30px;
$sidebarDatalistHeight: calc($sidebarHeight - $sidebarOpContainerHeight - 30px);
// 侧边栏宽度
$sidebarFixedWidth: 18px;
$sidebarActiveWidth: 200px;
$sidebarFilterPanelWidth: 200px;

// 主视图高度
$maintopHeight: 39px;
$mainbottomHeight: calc(100vh - $navbarHeight - $maintopHeight);
// 主视区宽度
$mainWithSideWidth: calc(100vw - $sidebarFixedWidth - $sidebarActiveWidth);
$mainWithoutSideWidth: calc(100vw - $sidebarFixedWidth);

// 主页面尺寸
// 「数据展示」高度、-->数据分析页面
$dataDisplayHeight: calc(100vh - $maintopHeight - $navbarHeight);

$dataDisplayTopHeight: 280px;
$dataDisplayBottomHeight: calc($dataDisplayHeight - $dataDisplayTopHeight);

$dataDisplayTopLeftHeight: 400px;
$dataDisplayTopLeftWidth: 400px;
$dataDisplayTopRight: calc($dataDisplayHeight - $dataDisplayTopHeight);
//

//数据展示页面尺寸-------------------------
//数据展示页选择器部分宽度
$datadispalyslectorWith: 20vw;
//数据展示页绘图主体区高度
$datadispalyleftbodyHeihgt: 70vh;
//数据展示页绘图主体区曲线宽度
$datadispalyleftbodypictureWidth: calc($mainWithSideWidth - $datadispalyslectorWith - 60px);
//----数据展示页面尺寸----------------------




// 动画
$animationTime: 0.1s;

// 颜色
$iconSelected: #dddfe6;

// 边框
$borderStyle: 1px solid var(--el-border-color);